/* Code */
code,
pre {
	font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
	padding: .25em .5em;
	font-size: 85%;
	color: #EB5757;
	background-color: rgba(135,131,120,0.1);
	border-radius: 3px;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f9f9f9;
}

pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent;
}

.code-block {
	position: relative;

	.-copy {
		display: none;
		position: absolute;
		top: 8px;
		right: 24px;
		background: #ffffad;
		padding: 2px 4px;
		border-radius: 3px;
		cursor: pointer;
	}

	&:hover .-copy {
		display: inline-block;
	}

	.-alert {
		position: absolute;
		top: 40px;
		display: block;
		width: fit-content;
		right: 16px;
		background-color: white;
		padding: 0px 4px;
	}
}
