
figure {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 2em 0;

	&.center {
		justify-content: center;
	}
}

figure img,
figure iframe,
figure .fluid-width-video-wrapper {
	margin-bottom: 1em
}

figure img {
	width: 100%;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

figure > a {
	display: block
}

@media (min-width: 37.5em) {
	figure.half > a,
	figure.half > img {
		width:calc(50% - 0.5em)
	}
}

figure.half figcaption {
	width: 100%
}

@media (min-width: 37.5em) {
	figure.third > a,
	figure.third > img {
		width:calc(33.3333% - 0.5em)
	}
}

figure.third figcaption {
	width: 100%
}

figcaption {
	margin-bottom: 0.5em;
	color: #646769;
	font-size: .65em
}

figcaption a {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

figcaption a:hover {
	color: #235e70
}