blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	color: #7a7a7a;
	border-left: .25rem solid #e5e5e5;
}

blockquote p {
	margin: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: 30em) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}